@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family:'Lovelo';
    src: url('WEB/Lovelo-LineLight.woff'),    
}
@font-face{
    font-family:'Lovelo Black';
    src:url('./WEB/Lovelo-Black.woff');
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow:hidden;
}
html{
    scroll-behavior:smooth;
}
body{
    height:100vh;
    background-image:linear-gradient(to bottom left, #FACBB9,#F2A9C6,#CFB4DB,#A8C6EA);
}
.nav{
    position:relative;
    top: 160px;
    left:65%;
}
.nav .div1,.nav .div2,.nav .div3{
    background-color:white;
    margin:20px;
    padding:20px 15px;
    width:23%;
    border-radius: 10px;
    text-align:center;
}
.nav a{
    text-decoration:none;
    color:#696368;
    font-size:20px;
    font-family:'Lovelo Black' , "Poppins";
}
#home h3, #home p, #home h1{
    margin-left:30px;
    letter-spacing:5px;
}
#home h3, #home p{
    color:#464343;
}
#home h3{
    font-size:40px;
    font-family:'Lovelo Black' , "Poppins";
    margin-top: -150px
}
#home h1{
    font-family: 'Lovelo';
    font-size: 100px;
    color:white;
    width:50%;
}
#home p{
    font-size: 20px;
    font-family:'Lovelo Black' , "Poppins";
    letter-spacing: 10px;
}