@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family:'Lovelo';
    src: url('WEB/Lovelo-LineLight.woff'),    
}
@font-face{
    font-family:'Lovelo black';
    src: url('./WEB/Lovelo-Black.woff'),    
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* overflow: hidden; */
}
html{
    scroll-behavior:smooth;
}
body{
    background-image:linear-gradient(to bottom left, #FACBB9,#F2A9C6,#CFB4DB,#A8C6EA);
    background-repeat:no-repeat;    
}
h2{
    color:white;
    font-family: "Lovelo black", "Poppins", Helvetica;
    font-size: 70px;
    letter-spacing: 5px;
    /* line-height:80px; */
    /* width: 100px; */
}

/* HOME */
#home{
    padding-bottom: 200px;
    border:0.5px dashed rgb(248, 248, 248);
}
.hide{
    height: 100vh; 
    width: 23%;
    background-color:rgba(255, 255, 255, 0.582);
    position:fixed;
    left:76.9%;
    top:0;
    display:none;
}
.nav .div1{
    margin-top:100px;
}
.nav_men{
    width:100%;
    padding: 20px;
    text-align:center;
}
.nav a{
    text-decoration:none;
    color:#696368;
    font-size:25px;
    font-family:"Poppins", Helvetica;
}
.nav .nav_men:hover{
    background-color:rgba(255, 255, 255, 0.726);
}
/* HAMBURGER MENU */
.hamburger_menu{
    margin:10px;
    cursor:pointer;
    position:fixed;
    left:93%;
    top: 0;
    z-index: 100;
}
.bar1,.bar2,.bar3{
    margin:5px;
    width: 50px;
    height: 10px;
    border-radius:5px;
    background-color:white;
}
.change .bar1 {
    transform: translate(0, 15px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -15px) rotate(45deg);
}
/* INTRO */
#home h3, #home p, #home h1{
    margin-left:50px;
}
#home h3, #home p{
    color:#464343;
    font-family: "Poppins", Helvetica;
    letter-spacing:5px;
}
#home h3{
    font-size:35px;
    margin-top: 20%;
}
#home h1{
    font-family: 'Lovelo', "Poppins", Helvetica;
    font-size: 120px;
    letter-spacing:8px;
    color:white;
    /* width:50%; */
}
#home p{
    font-size: 20px;
    letter-spacing: 10px;
}

/* ABOUT */
#about{
    border-bottom:0.5px dashed rgb(248, 248, 248);
    padding:50px;
    display:flex;
}
.am_description, .image{
    margin: 80px 80px 0 0;
}
.am_description p{
    font-family:"Poppins", Helvetica;
    color:#464343;
}
.am_description button{
    padding:10px 20px;
    border:1px solid rgb(255, 255, 255);
    border-radius:20px;
    background-color:#FACBB9;
    color:#464343;
    letter-spacing:1px;
    margin: 15px 0; 
    cursor:pointer;
}
.am_description button:hover{
    padding: 11px 21px;
}
.hignlight_word{
    color:white;
}
.image img{
    border:1px dashed white;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.452), 0 6px 20px 0 rgba(0, 0, 0, 0.349);
    border-radius: 5px;
}

/* PROJECTS */
#projects{
    padding: 50px;
    border-bottom:0.5px dashed rgb(248, 248, 248);
}
#projects h2{
    padding: 70px 0 50px 0;
}
.proj{
   display:flex; 
   flex-wrap: wrap;
   justify-content:center;
   margin-bottom:30px;
}
.prjct{
    border:1px solid grey;
    margin:10px;
    width: 500px;
    height: 300px;
}

/* CONTACT */
#contact{
    padding: 50px;
    border-bottom:0.5px dashed rgb(248, 248, 248);
}
#contact h2{
    padding: 70px 0 50px 0;
}